.details {
  @include margin-top-block;
  background: #4dbca914;

  .details__container {
    @include container;
    padding-bottom: 5%;
  }
  .details__body {
    @include margin-top-title;
  }
  .details__title {
    @include title;
    text-align: center;
    padding-top: 2%;
  }
  .details__item {
    cursor: pointer;
    border-bottom: 1px solid;
  }
  .item-details__title {
    @include subtitle;
    padding: 10px 0;
    list-style: none;
    position: relative;
    &::after {
      content: "";
      display: block;
      background-image: url(../images/details_anactive.png);
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      right: 0;
      top: 23%;
      height: 35px;
      width: 35px;
    }
  }
  .details__item[open] .item-details__title::after {
    background-image: url(../images/details_active.png);
  }
  .item-details__text {
    @include text;
  }
  .item-details__text_bold {
    font-weight: 700;
    text-decoration: underline;
  }
  @media screen and (min-width: 2500px) {
    .details__container {
      @include container-2500;
    }
  }
  @media screen and (max-width: 992px) {
    .item-details__text {
      @include text-992;
    }
    .item-details__title {
      @include subtitle-992;
    }
  }
  @media screen and (max-width: 768px) {
    .item-details__text {
      @include text-768;
    }
    .item-details__title {
      @include subtitle-768;
    }
    .details__title {
      @include title-768;
    }
  }
  @media screen and (max-width: 576px) {
    .details__container {
      @include container-576;
    }
    .item-details__text {
      @include text-576;
    }
    .item-details__title {
      @include subtitle-576;
    }
    .details__title {
      @include title-576;
    }
    .item-details__title {
      padding-right: 35px;
    }
    .item-details__title::after {
      max-width: 25px;
      max-height: 25px;
      top: 29%;
    }
  }
  @media screen and (max-width: 360px) {
    .details__container {
      @include container-576;
    }
    .item-details__text {
      @include text-360;
    }
    .item-details__title {
      @include subtitle-360;
    }
    .details__title {
      @include title-360;
    }
  }
}
