.details {
    margin-top: 100px;
}
.details__container {
    max-width: 85%;
    margin: 0 auto;    
    font-family: 'Cormorant Garamond', serif;
    color: $color;
}
.details__title {
    font-size: calc(30px + 18 * (100vw / 1440));
    text-align: center;    
}
.details__title::after {
    content: "";
    background-image: url(../../images/icons/details_list.png);
    height: 40px;
    width: 40px;
    top: 0;
    left:0;
} 
.details__item {
    cursor: pointer;
    border-bottom: 1px solid;
}
.item-details__title {
    font-size: calc(20px + 10 * (100vw / 1440));
    padding: 10px 0;
    list-style: none;
    position: relative;
    &::after {
        content: "";
        display: block;        
        background-image: url(../images/icons/details_anactive.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        right: 0;
        top: 23%;
        height: 35px;
        width: 35px;
    }        
}
@media screen and (max-width: 530px) {
    .item-details__title {
        padding-right: 35px;
    }
    .item-details__title::after {
        max-width: 25px;
        max-height: 25px;
        top: 29%;
    }
}

.details__item[open] .item-details__title::after {
    background-image: url(../images/icons/details_active.png);
}
.item-details__text {
    font-size: calc(16px + 8 * (100vw / 1440));
}
.item-details__text_bold {
    font-weight: 700;
}
