header {
  width: 100%;
  margin-top: 2%;
  color: $color;
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
  }
  .header__logo {
    width: 20%;
    object-fit: contain;
  }
  .header__subcontainer {
    width: 370px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
  }
  .header__link {
    font-family: "CormorantGaramond-Regular", serif;
    font-size: 38px;
    color: $color;
    padding-left: 3%;
    text-decoration: none;
  }
  .header__link:hover {
    color: #4dbcbc;
  }
  .header__text {
    font-family: "CormorantGaramond-Regular", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    text-align: right;
    color: $color;
  }
  @media screen and (max-width: 950px) {
    align-items: flex-end;
    margin: 0 auto;
    .header__subcontainer {
      align-items: flex-end;
    }
    .header__logo {
      margin: 0 0 0 0;
    }
    .header__text {
      font-size: 20px;
    }
    .header__link {
      font-size: 22px;
    }
    .header__icon {
      max-width: 10%;
      margin-left: 2%;
    }
  }
  @media screen and (max-width: 576px) {
    .header__subcontainer {
      margin-top: 0;
      .header__text {
        font-size: 10px;
      }
      .header__link {
        font-size: 14px;
        margin-left: 6%;
      }
    }
  }
  @media screen and (max-width: 350px) {
    .header__subcontainer {
      .header__text {
        font-size: 8px;
      }
      .header__link {
        font-size: 8px;
        margin-left: 12%;
      }
    }
  }
}
