.main {
  .main__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-image: url(../images/photo/list.png);
    // background-repeat: no-repeat;
    // background-position: right bottom;
  }
  .main__img-container {
    display: grid;
    grid-template-areas:
      "kitchen scoop"
      "lemon scoop";
  }
  .kitchen {
    grid-area: kitchen;
  }
  .lemon {
    grid-area: lemon;
    padding-top: 5%;
  }
  .scoop {
    grid-area: scoop;
    margin-left: 5%;
  }
  .main__text {
    padding-left: 5%;
  }
  .main__title {
    @include title;
  }
  .main__text-text {
    padding-top: 5%;
    flex-direction: column;
    @include flex-ctr;
    @include text;
  }
  .main__title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    @include title;
  }
  .list {
    width: 10%;
    height: 20%;
  }
  .main__advantages {
    background: #4dbca914;
  }
  .main__container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15px;
    padding: 15px;
    @include container;
  }
  .main__responsibillity {
    @include galochka-main;
  }
  .main__guarantee {
    @include galochka-main;
  }

  .main__equipment {
    @include galochka-main;
  }
  .main__materials {
    @include galochka-main;
  }
  .galochka {
    width: 45px;
  }
  .main__text1 {
    text-align: center;
    @include text;
  }
}
