.reviews {
  @include margin-top-block;
  position: relative;

  .reviews__list {
    position: absolute;
    transform: translateY(-60%);
    right: 0px;
  }
  .carousel-inner {
    height: 500px;
  }
  .carousel-caption {
    color: $color;
    top: 100%;
  }
  .reviews__title {
    @include margin-top-title;
    @include flex-ctr;
    @include title;
  }
  p {
    @include text;
  }
  h4 {
    @include subtitle;
  }
  @media screen and (max-width: 992px) {
    p {
      @include text-992;
    }
    h4 {
      @include subtitle-992;
    }
  }
  @media screen and (max-width: 768px) {
    p {
      @include text-768;
    }
    h4 {
      @include subtitle-768;
    }
    .reviews__title {
      @include title-768;
    }
    .reviews__list {
      width: 180px;
    }
    .carousel-inner {
      height: 350px;
    }
  }
  @media screen and (max-width: 576px) {
    p {
      @include text-576;
    }
    h4 {
      @include subtitle-576;
    }
    .reviews__title {
      @include title-576;
    }
    .reviews__list {
      display: none;
    }
  }
  @media screen and (max-width: 360px) {
    p {
      @include text-360;
    }
    h4 {
      @include subtitle-360;
    }
    .reviews__title {
      @include title-360;
    }
  }
}
