.main {
  .main__img,
  .main__img-small {
    @include flex-ctr;
    @include container;
  }
  .main__box-text {
    width: 65%;
    @include flex-ctr;
    flex-direction: column;
  }
  .main__title {
    @include title;
  }
  .main__two,
  .main__box-img {
    @include flex-ctr;
    flex-direction: column;
  }
  .kitchen,
  .lemon {
    width: 100%;
    padding: 5px;
  }
  .scoop {
    width: 100%;
    padding: 5px;
  }
  .main__text,
  .main__text1 {
    padding: 10px;
    @include text;
  }
  .main__text1 {
    text-align: center;
  }
  .main__title1 {
    @include flex-ctr;
    align-items: center;
    padding-top: 2%;
    @include margin-top-title;
    @include title;
  }

  .main__background,
  .main__background-small {
    background: rgba(77, 188, 169, 0.0784313725);
  }
  .main__container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-items: center;
    @include container;
  }
  .main__responsibillity,
  .main__guarantee,
  .main__equipment,
  .main__materials {
    @include galochka-main;
  }
  .galochka {
    width: 45px;
    height: 45px;
  }
  .main__img-small,
  .main__background-small {
    padding-top: 5%;
  }
  @media screen and (min-width: 2500px) {
    .main__img,
    .main__img-small,
    .main__container1 {
      @include container-2500;
    }
  }
  @media screen and (max-width: 1500px) {
    .main__container1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  @media screen and (max-width: 1366px) {
    .main__box-text {
      width: 90%;
    }
    .scoop {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .main__text,
    .main__text1 {
      @include text-992;
    }
  }
  @media screen and (max-width: 768px) {
    .main__text,
    .main__text1 {
      @include text-768;
    }
    .main__title1,
    .main__title {
      @include title-768;
    }
    .main__img,
    .main__img-small {
      flex-direction: column;
    }
    .lemon {
      display: none;
    }
    .main__box-text {
      width: 100%;
    }
  }
  @media screen and (max-width: 576px) {
    .main__img,
    .main__img-small,
    .main__container1 {
      @include container-576;
    }
    .main__text,
    .main__text1 {
      @include text-576;
    }
    .main__title1,
    .main__title {
      @include title-576;
    }
  }
  @media (max-width: 550) {
    .main__container1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 361px) {
    .main__img-small,
    .main__background-small {
      display: none;
    }
  }
  @media screen and (max-width: 360px) {
    .main__text,
    .main__text1 {
      @include text-360;
      text-align: center;
    }
    .main__title1,
    .main__title {
      @include title-360;
      text-align: center;
    }
    .main__img,
    .main__background {
      display: none;
    }
    .main__container1 {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
