// .wrapper{
//     color: $color;
//     .wrapper__review {
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         grid-template-rows: 5% 90%;
//         grid-template-areas:
//         "img name"
//         "img text";
//         justify-items: center;
//         align-content: space-evenly;
//     }
//     .wrapper__review_name {
//         grid-area: name;
//         font-weight: bold;
//         padding-top: 5%;
//         padding-left: 5%;
//         padding-right: 5%;
//     }
//     .wrapper__review_text {
//         grid-area: text;
//         padding-top: 5%;
//         padding-left: 5%;
//         padding-right: 5%;
//     }
//     img {
//         width: 100%;
//         padding-top: 5%;
//         padding-left: 5%;
//         padding-right: 5%;
//     }
// }
.reviews {
  @include margin-top-block;

  .carousel-inner {
    height: 250px;
  }
  .carousel-caption {
    color: $color;
    top: 100%;
  }
  .reviews__title {
    @include margin-top-title;
    @include flex-ctr;
    @include title;
  }
  p,
  h4 {
    @include text;
  }
  @media screen and (max-width: 992px) {
    p,
    h4 {
      @include text-992;
    }
  }
  @media screen and (max-width: 768px) {
    p,
    h4 {
      @include text-768;
    }
    .reviews_title {
      @include title-768;
    }
  }
}
