// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&family=Shantell+Sans&display=swap');
.services {
    position: relative;
}
.services__leaf {
    position: absolute;
    transform: translateY(-60%);
    left: -30px;
}
.services__container {
    max-width: 85%;
    margin: 0 auto;    
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: $color;  
}
.services__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 60px;
}
.services__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -60px;    
}
.services__column {
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    padding: 0 60px;
    margin-bottom: 70px;
}
.services__item {    
    text-align: center;    
}
.item-services__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 233px;
}
.item-services__picture {
    width: 86px;
    height: 86px;
    display: flex;
    justify-content: center;
}
.item-services__title {
    text-align: center;
    font-size: 30px;    
}