body {
  background: rgb(77 188 169 / 4%);
}
.services {
  position: relative;
  @include margin-top-block;
  .services__leaf {
    position: absolute;
    transform: translateY(-60%);
    left: -30px;
  }
  .services__content {
    @include margin-top-title;
  }
  .services__container {
    max-width: 85%;
    margin: 0 auto;
  }
  .services__title {
    text-align: center;
    @include title;
    margin-bottom: 60px;
  }
  .services__row {
    @include flex-ctr;
    flex-wrap: wrap;
    margin: 0 -4.2%;
  }
  .services__column {
    flex: 0 1 25%;
    @include flex-ctr;
    padding: 0 4.2%;
    margin-bottom: 70px;
  }
  .services__item {
    text-align: center;
    width: 214px;
    margin-right: 5px;
  }
  .services__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .services__picture {
    width: 86px;
    height: 86px;
    @include flex-ctr;
  }
  .services__text {
    text-align: center;
    @include text;
  }
  @media screen and (min-width: 2500px) {
    .services__container {
      @include container-2500;
    }
  }
  @media screen and (max-width: 992px) {
    .services__text {
      @include text-992;
    }
  }
  @media screen and (max-width: 870px) {
    .services__leaf {
      width: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    .services__text {
      @include text-768;
    }
    .services__title {
      @include title-768;
    }
  }
  @media screen and (max-width: 576px) {
    .services__container {
      @include container-576;
    }
    .services__leaf {
      display: none;
    }
    .services__row {
      margin: 0;
    }
    .services__column {
      padding: 0;
      margin-bottom: 10%;
    }
    .services__text {
      @include text-576;
    }
    .services__title {
      @include title-576;
    }
    .services__item {
      width: 100px;
    }
  }
  @media screen and (max-width: 360px) {
    .services__text {
      @include text-360;
    }
    .services__title {
      @include title-360;
    }
    .services__picture {
      width: 50px;
      height: 50px;
    }
  }
}
