.title-block {
  max-width: 100%;
  height: 700px;
  background-image: linear-gradient(to right, white 0%, transparent 100%),
    url(../images/title-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5%;
  .title-block__title {
    margin-left: 113px;
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    color: $color;
    padding-top: 3%;
  }
  h1 {
    margin-top: 1%;
  }
  .title-block__list,
  p {
    margin-left: 113px;
  }
  .title-block__text,
  .title-block__list-item {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: $color;
  }
  .title-block__list-item {
    list-style-type: none;
  }
  @media screen and (min-width: 1560px) {
    .title-block__list,
    .title-block__title,
    .title-block__text {
      margin-left: 10%;
    }
  }
  @media screen and (max-width: 950px) {
    height: fit-content;
    .title-block__title {
      font-size: 32px;
    }
    .title-block__text,
    .title-block__list-item {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 564px) {
    .title-block__title {
      font-size: 24px;
    }
    .title-block__text,
    .title-block__list-item {
      font-size: 12px;
    }
    .title-block__title,
    .title-block__list,
    p {
      margin-left: 3%;
    }
  }
  @media screen and (max-width: 350px) {
    .title-block__title {
      font-size: 16px;
      margin-bottom: 1%;
    }
    .title-block__text,
    .title-block__list-item {
      font-size: 8px;
    }
    .title-block__text {
      margin-bottom: 2%;
    }
  }
}
