// для примера, здесь общие/повторяющиеся свойства:
// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }

// @mixin setka {
//   width: 50%;
//   min-height: 300px;
//   border: 1px solid green;
//   margin-left: auto;
//   margin-right: auto;
// }
// в components добавляет  @include + наименование:
// .container__box-item {
//     @include transform(skew(30deg, 20deg));
//   }

@mixin setka-footer {
  display: flex;
  align-items: center;
  margin-top: 2%;
}
@mixin icon-footer {
  border-radius: 50%;
  background: $bacground-color;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  justify-content: center;
}