@mixin setka-footer {
  display: flex;
  align-items: center;
  margin-top: 2%;
}
@mixin icon-footer {
  border-radius: 50%;
  background: $bacground-color;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  justify-content: center;
}

@mixin galochka-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
@mixin background {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}
@mixin flex-ctr {
  display: flex;
  justify-content: center;
}
@mixin title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: $color;
  line-height: 58px;
}
@mixin title-768 {
  font-weight: 500;
  font-size: 36px;
  line-height: 50px;
}
@mixin title-576 {
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
@mixin title-360 {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 38px;
}
@mixin subtitle {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  color: $color;
  line-height: 50px;
}
@mixin subtitle-992 {
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
}
@mixin subtitle-768 {
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}
@mixin subtitle-576 {
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
}
@mixin subtitle-360 {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 30px;
}
@mixin text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: $color;
  line-height: 44px;
}
@mixin text-992 {
  font-size: 28px;
  line-height: 40px;
}
@mixin text-768 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
@mixin text-576 {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
@mixin text-360 {
  font-weight: 300;
  font-size: 1em;
  line-height: 18px;
}
@mixin container {
  width: 80%;
  margin: 0 auto;
}
@mixin container-2500 {
  width: 65%;
  margin: 0 auto;
}
@mixin container-576 {
  width: 95%;
  margin: 0 auto;
}

@mixin margin-top-block {
  margin-top: 7%;
}
@mixin margin-top-title {
  margin-top: 5%;
}
